@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins !important;
}

nav {
    width: 100%;
    z-index: 10000;
    box-sizing: border-box;
    transition: .5s;
    box-shadow: 1px 2px 10px #888;
    font-family: "Poppins", Helvetica;
}



.navbar-text {
    font-size: 1.5em;
    color: #000 !important;
    font-weight: bold;
}

.navbar-nav {
    text-align: left !important;
}

.nav-link {
    color: #000 !important;
}

.nav-link:hover {
    color: #2DB1FF !important;
    transition: .5s !important;
}

nav ul li a {
    text-align: left !important;
    font-size: 1.1em;
    padding: 10px 30px !important;
}

.return-to-top {
    height: 60px;
    width: 60px;
    background: #019AC4;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: -45px;
    display: flex;
    justify-content: center;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.return-to-top i {
    color: #fff;
    margin: 0;
    left: 0px;
    top: 0px;
    padding-top: 10px;
    position: relative;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.return-to-top:hover i {
    color: #fff;
    top: -6px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer {
    background: #019AC4;
    width: 100%;
    height: 5.4em;
    font-family: Montserrat;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

.footer p {
    padding-top: 20px;
}

.footer .em {
    font-size: 0.7em;
}

.footer a {
    font-family: 'Playball', cursive;
    letter-spacing: .2em;
    text-decoration: none;
    color: #fff;
    padding-left: 5px;
}

.footer a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
    transition: .5s;
}